@import "variables", "mixins";

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.cardGenerator {
    position: relative;
    background-color: $generator-background-color;
    padding: 20px;
    width: 50%;
    height: 70px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $generator-font-color;
    font-weight: bold;
    font-size: 25px;

    select {
        @include menu-Styles(7.5px 20px);
    }

    button {
        @include menu-Styles(10px 20px);
        transition: 0.5s ease;
        cursor: pointer;
        &:hover {
            color: $generator-hover-color;
        }
    }
}

.container{
    width: 70%;
    margin: 120px 300px;
    padding: 20px 0px;
    position: absolute;
    display: inline-block;
    .card{
        background-color: $generator-background-color;
        margin: 30px 45px;
        width: 235px;
        height: 375px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: .3s ease-in-out;
        img{
            width: 150px;
        }
        &:hover{
            background-color: $generator-hover-color;
            cursor: pointer;
        }
    }
}